Herbs/
model/
model_copy/
crawler/
.pkl


__pycache__/
*.pyc

# 大数据
*.mgf
Herbs/
model/
model_copy/
sample_mgf/
standard_mgf/

# 数据库
db.sqlite3

# 日志
*.log

*.sql
*.txt
*.pkl

text_result/
mgf_library_only.sql
__pycache__/
*.pyc

crawler/