{% extends "web/base.html" %}
{% load static %}

{% block title %}{{ compound }} – {{ latin_name }}{% endblock %}

{% block content %}
<style>
  th {
    white-space: nowrap !important;
    width: 1% !important;
    min-width: 140px !important;
  }
  .custom-header {
    background-color: rgb(64, 158, 255) !important;
    color: white !important;
  }
</style>

<div class="container-fluid mt-4">

  <!-- 顶部 -->
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="mb-0">{{ compound }}</h2>

    <a href="javascript:history.back()" class="btn btn-secondary btn-sm">
      Back
    </a>
  </div>

  <!-- Plant Info + Spectrum -->
  {% if entry %}
    <table class="table w-100 table-bordered table-hover mb-4">
      <tbody>

        <tr class="custom-header">
          <th class="divider" colspan="2">Plant Information</th>
        </tr>

        <tr>
          <th>Chinese Name</th>
          <td><strong>{{ entry.chinese_name }}</strong></td>
        </tr>

        <tr>
          <th>Latin Name</th>
          <td>{{ entry.latin_name }}</td>
        </tr>

        <tr>
          <th>Tissue</th>
          <td>{{ entry.tissue }}</td>
        </tr>

        <tr>
          <th>Match Score</th>
          <td>{{ entry.score|floatformat:4 }}</td>
        </tr>

        <tr>
          <th>Spectrum comparison</th>
          <td>
            {% if entry.image %}
              <img src="data:image/png;base64,{{ entry.image }}" class="img-fluid"/>
            {% else %}
              <span>No spectrum</span>
            {% endif %}
          </td>
        </tr>

      </tbody>
    </table>

  {% else %}
    <div class="alert alert-warning">
      No plant compound entries found.
    </div>
  {% endif %}

</div>

{% endblock %}